version: 2
jobs:
  build:
    docker:
      - image: circleci/node:14.16.1
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: |
            echo 'export TAG=0.1.${CIRCLE_BUILD_NUM}' >> $BASH_ENV
            echo 'export IMAGE_NAME=waww-app' >> $BASH_ENV 
      - run:
          name: Build & Push Docker Image
          command: |
            docker build -t dylanolearydev/$IMAGE_NAME:$TAG .
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push dylanolearydev/$IMAGE_NAME:$TAG
